{% extends 'main/base.html' %}
{% block content %}
    <div class="container">
        <div class="row pl-3">
            今日追加されたアカウント：{{ today_accounts }}　　今日追加されたタグ：{{ today_tags }}
        </div>
        <div class="row mt-3">
            {% for tag in tags %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-header" style="background-color: #ffffff">
                            <div class="row">
                                <div class="ml-2 d-flex align-items-center">{{ tag.word }}</div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="container">
                                    <h1 class="text-center">{{ tag.score }}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <a href="https://www.instagram.com/explore/tags/{{ tag.word }}"
                                   class="btn btn-primary offset-2 col-3" target="_blank"
                                   role="button">開く</a>
                                <a href="{% url 'delete_tag' tag.id %}" class="btn btn-outline-secondary offset-2 col-3"
                                   role="button">削除</a>
                            </div>
                            <div class="row mt-2 pr-3" style="justify-content: flex-end;">
                                <small class="text-muted">最終検索：{% ifequal tag.id now.id %}検索中...{% else %}
                                    {{ tag.searched_at | default_if_none:'未検索' }}{% endifequal %}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}